
.navigation__item {
  height: 60px;
  list-style-type: none;
  line-height: 60px;
  display: block;
  white-space: nowrap;
}

.navigation__link {
  padding: 0;
  color: #333;
  display: block;
  width: 100%;
  cursor: pointer;
  height: 60px;
  box-sizing: border-box;
  border-bottom: var(--top-color1) 1px solid;
}

.navigation__link {
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 0px;
}

.navigation__link:before {
  display: inline-block;
  line-height: 60px;
  width: 60px;
  text-align: center;
}


.navigation__link, .topbar-button {
  color: #333;
  text-decoration: none;
}


/* PAGE STYLES */

@media (max-width: 900px) { 
  body {
    --top-button-width: 7.5em
  }

  /* hide navigation icons on small enough hoziontal space */
  .topbar-buttons > .topbar-button:before {
    content: none;
  }
}

.navigation:focus-within,
.navigation:hover,
.menu-button:hover ~ .navigation {
  border-right: var(--top-color1) 1px solid;
}

.menu-button:hover ~ :is(.navigation, .page) {
  --sidebar-width: 60px
}

.navigation:hover, 
.navigation:hover ~ .page,
.navigation:focus-within,
.navigation:focus-within ~ .page,
.menu-button:focus ~ :is(.navigation, .page) {
  --sidebar-width: 15em;
}

@media screen and (max-device-width: 1028px) {
  .menu-button:hover ~ :is(.navigation, .page) {
    --sidebar-width: 15em;
  }
}


/*
* PROFILE PAGE START
*/
.profile {
  display: block;
  width: 100%;
}
.profile-canvas {
  display: inline-block;
  max-width: 30%;
  text-align: center;
  margin: 1.5em;
  float: left;
}
@media (orientation: portrait) {
  .profile-canvas {
    max-width: 60%;
    width: 60%;
    margin: 1.5em auto;
    float: none;
    display: block;
  }
}
.profile-image {
  border-radius: 50%;
  width: 100%;
}
.profile-text {
  display: inline-block;
  width: 50%;
  margin: 1.5em;
}
@media (orientation: portrait) {
  .profile-text {
    width: 100%;
    margin: 0;
    margin-bottom: 3em;
  }
}
/*
* PROFILE PAGE END
*/
/*
* SKILLS PAGE START
*/
.intro {
  text-align: center;
  margin: 2em;
}
.skill-list {
  margin: 0 auto;
  padding: 0;
  display: block;
}
@media screen and (min-width: 280px) {
  .skill-list {
    width: 204px;
  }
}
@media screen and (min-width: 480px) {
  .skill-list {
    width: 408px;
  }
}
@media screen and (min-width: 680px) {
  .skill-list {
    width: 612px;
  }
}
@media screen and (min-width: 880px) {
  .skill-list {
    width: 816px;
  }
}
@media screen and (min-width: 1080px) {
  .skill-list {
    width: 1020px;
  }
}
@media screen and (min-width: 1280px) {
  .skill-list {
    width: 1224px;
  }
}
@media screen and (min-width: 1480px) {
  .skill-list {
    width: 1428px;
  }
}
.box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 2px 0;
  background: #442277;
  color: white;
  overflow: hidden;
  text-align: center;
  padding: 0px;
  font-size: 25px;
  font-family: Quicksand;
  line-height: 200px;
  vertical-align: middle;
}
.box::before,
.box > i {
  position: absolute;
  width: 100%;
  left: 0;
  content: "";
  vertical-align: middle;
  text-align: center;
  font-family: Quicksand;
  line-height: initial;
  transition: all 0.25s cubic-bezier(0.8, 0, 0.2, 1);
}
.box > i {
  top: 50%;
  transform: translateY(-50%) scale(0);
  opacity: 0;
}
.box::before {
  transform: scale(1);
  opacity: 1;
  height: 100%;
}
.box:hover::before {
  transform: scale(2);
  opacity: 0;
}
.box:hover > i {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
.logo::before {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.logo::after {
  white-space: pre-line;
}
.logo-js::before {
  background-image: url("../icons/js-logo.png");
}
.logo-js {
  background-color: #323330;
  color: #eeeeee;
}
.logo-angular::before {
  background-image: url("../icons/angular.png");
}
.logo-angular {
  background-color: #3333ff;
  color: #eeeeee;
}
.logo-cpp::before {
  background-image: url("../icons/cpp-icon.png");
}
.logo-cpp {
  background-color: #000000;
  color: #eeeeee;
}
.logo-sails::before {
  background-image: url("../icons/sails.png");
}
.logo-sails {
  background-color: #eeeeee;
  color: #111111;
}
.logo-docker::before {
  background-image: url("../icons/docker.png");
}
.logo-docker {
  background-color: #70afc1;
  color: #eeeeee;
}
.logo-windows::before {
  background-image: url("../icons/windows.png");
}
.logo-windows {
  background-color: #00adf1;
  color: #eeeeee;
}
.logo-unity::before {
  background-image: url("../icons/unity_icon.png");
}
.logo-unity {
  background-color: #eeeeee;
  color: #111111;
}
.logo-html::before {
  background-image: url("../icons/html5css3.png");
}
.logo-html {
  background-color: #eeeeee;
  color: #111111;
}
.logo-dart::before {
  background-image: url("../icons/dart-logo.png");
}
.logo-dart {
  background-color: #eeeeee;
  color: #111111;
}
/*
* SKILLS PAGE END
*/
/*
*  CONTACT PAGE START
*/
.contact {
  display: flex;
  min-height: calc(100vh - 100px);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-flow: wrap;
  align-content: flex-start;
}


.contact td:nth-child(1) {
  text-align: right; 
  font-weight: bold;
}

.contact td:nth-child(2) {
  text-align: left
}

@media (orientation: portrait) {
  .contact {
    flex-flow: column;
  }
}

.qr-contact img,
.contact-info img {
  width: 100%;
}
.contact-box {
  text-align: center;
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-box a {
  text-decoration: none;
  color: initial;
}

.social-icons {
  text-align: center;
}
.social-icon {
  font-size: 50px;
  margin: 0 20px;
}

/*
*  CONTACT PAGE END
*/
