body{
/*

very slow on firefox so i used a image as background

background: -ms-linear-gradient(#C0D4EE 1px, transparent 1px), -ms-linear-gradient(0, #C0D4EE 1px, transparent 1px), -ms-linear-gradient(lightsteelblue 1px, transparent 1px), -ms-linear-gradient(0, lightsteelblue 1px, transparent 1px);
background: -moz-linear-gradient(#C0D4EE 1px, transparent 1px), -moz-linear-gradient(0, #C0D4EE 1px, transparent 1px), -moz-linear-gradient(lightsteelblue 1px, transparent 1px), -moz-linear-gradient(0, lightsteelblue 1px, transparent 1px);
background: -webkit-linear-gradient(#C0D4EE 1px, transparent 1px), -webkit-linear-gradient(0, #C0D4EE 1px, transparent 1px), -webkit-linear-gradient(lightsteelblue 1px, transparent 1px), -webkit-linear-gradient(0, lightsteelblue 1px, transparent 1px);
background: linear-gradient(#C0D4EE 1px, transparent 1px), linear-gradient(0, #C0D4EE 1px, transparent 1px), linear-gradient(lightsteelblue 1px, transparent 1px), linear-gradient(0, lightsteelblue 1px, transparent 1px);
 
background-color: #A0B4CE;
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
*/
background-image: url(bg.png);
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.topPage{
	background-color: white;
	box-shadow: 0px 0px 10px black;
	margin: -1em auto -1em;
	width: 80%;
}

.topPage:before{
  position: absolute;
  content: "scroll down"
  top: -1rem;
  margin: 0 auto;
}

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
left: -1em;
 width: 100%;
    
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 1em; /* Adjust to suit */
 margin: 3em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

    .tabs {
      position: relative;   
      min-height: 200px; /* This part sucks */
      clear: both;
      margin: 25px 0;
    }
    .tab {
      float: left;
    }
    .tab label {
      background: #eee; 
      padding: 10px; 
      border: 1px solid #ccc; 
      margin-left: -1px; 
      position: relative;
      left: 1px; 
    }
    .tab [type=radio] {
      display: none;   
    }
    .content {

      position: absolute;
      top: 28px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #ccc; 
      
    }
    .content > * {
      opacity: 0;
      
      -webkit-transform: translate3d(0, 0, 0);
    
      -webkit-transform: translateX(-100%);
      -moz-transform:    translateX(-100%);
      -ms-transform:     translateX(-100%);
      -o-transform:      translateX(-100%);
      
      -webkit-transition: all 0.6s ease;
      -moz-transition:    all 0.6s ease;
      -ms-transition:     all 0.6s ease;
      -o-transition:      all 0.6s ease;
    }
    [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
    [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      
      -webkit-transform: translateX(0);
      -moz-transform:    translateX(0);
      -ms-transform:     translateX(0);
      -o-transform:      translateX(0);
    }
	
	.table
	{
	border-collapse:collapse;
	}
	.table,.table td,.table th
	{
	border:none;
	background-color: #eee;
	text-align: center;
	}
	
	.table th{
	    padding: 3px;
	}
	
	.table th:nth-child(2n+1){
	  	background-color: #437f9e;
	  	color: white;
	  	font-weight: normal;
	}
	
	.table th:nth-child(2n){
	  	background-color: #536f8e;
	  	color: white;
	  	font-weight: normal;
	}
	
	 .table td:first-child{
	 	  	background-color: #ddd;
	 }
	
	.table td:nth-child(2n+3){
	  	background-color: #ddf;
	}
	
	.table td:nth-child(2n){
	  	background-color: #eee;
	}
	
	.table tr:hover td:nth-child(2n){
	  	background-color: #ddd;
	}
	
	.table tr:hover td:nth-child(2n+1){
	  	background-color: #cce;
	}
