@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), 
  local('Quicksand-Regular'), url('fonts/Quicksand-Regular.ttf') format('truetype');
}

body,
html {
  margin: 0;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-display: swap;
  overflow-x: hidden;
  height: 100%;
}

.title {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  margin: 3em;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  border: black 2px solid;
}

.page {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: none;
}

.page::after {
    content: " ";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -2;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 100%), rgb(243, 243, 243);
  }

.page:target ~ .page--main { 
    display: none;
}
.page:target, .page--main {
    transform: none; 
    display: block; 
}

/* NAVIGATION ICONS */
:is(.navigation__link--about, .pagelink-about)::before{ content: "🗿"; }
:is(.navigation__link--works, .pagelink-works)::before{ content: "🏯"; }
:is(.navigation__link--skills, .pagelink-skills)::before{ content: "📋"; }
:is(.navigation__link--contact, .pagelink-contact)::before{ content: "📬"; }


/* NAVIGATION STATES */
:is(.navigation__link, .topbar-button):hover,
:is(.navigation__link, .topbar-button):focus,
.page--about:target ~ .top-bar :is(.navigation__link--about, .pagelink-about),
.page--skills:target ~ .top-bar :is(.navigation__link--skills, .pagelink-skills),
.page--works:target ~ .top-bar :is(.navigation__link--works, .pagelink-works),
.page--contact:target ~ .top-bar :is(.navigation__link--contact, .pagelink-contact)
{
  background: #369;
  color: white;
}

/* TOP BAR */

.top-bar {
  z-index: 2;
  padding: 0;
  margin: 0;
  position: fixed;
  inset: 0 0 auto 0;
  background: white;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  border-bottom: #369 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.topbar-buttons {
  display: flex;
  flex:1;
  justify-content: flex-end;
}

.topbar-button {
  display: inline-block;
  height: 60px;
  text-decoration: none;
  background: none;
  padding: 0px 20px;
}

.topbar-button:before {
  font-size: 20px;
  margin-right: 0.5em;
}

/* TOP LEFT MENU BUTTON */
.menu-button {
  padding: 0px;
  width: 60px;
  font-size: 40px;
  border: none;
  outline: none;
}

/* CONTENT */

.main-content {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* TOP BAR VERTICAL NAVIGATION */

.navigation {
  box-sizing: border-box;
  position: fixed;
  top: 61px;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 0;
  z-index: 3;
  background: white;
  transition: width 250ms linear;
  overflow-x: hidden;
  overflow-y: auto;
}

.work {
  position: relative;
  margin-bottom: 5em;
  display: flex;
}
.work-description {
  max-width: 60%;
}
.work-canvas {
  max-width: 30%;
  margin: 0 5%;
}
.work-image {
  border-radius: 3%;
  width: 100%;
}