@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), 
  local('Quicksand-Regular'), url('../fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
}

.page {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: none;
}

.page:target ~ .page--main { 
    display: none;
}
.page:target, .page--main {
    transform: none; 
    display: block; 
}