.top-bar {
  z-index: 2;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  border-bottom: #369 1px solid;
  font-family: Open Sans;
}
.topbar-buttons {
  float: right;
}
@media (max-width: 900px) {
  .topbar-buttons > .topbar-button:before {
    content: none;
  }
}
@media (max-width: 720px) {
  .topbar-buttons {
    display: none;
  }
}
.topbar-button {
  display: inline-block;
  height: 60px;
  color: #555;
  text-decoration: none;
  text-decoration: none;
  background: none;
  float: left;
  outline: none;
  padding: 0px 20px;
}
.topbar-button:hover {
  color: #fff;
  background: #369;
}
.topbar-button:before {
  font-size: 20px;
  margin-right: 0.5em;
}
.pagelink.active {
  color: #47a;
}
.pagelink.active:hover {
  color: #fff;
}
.navigation {
  box-sizing: border-box;
  border-right: #369 1px solid;
  border-top: #369 1px solid;
  position: fixed;
  top: 60px;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 0;
  z-index: 3;
  background: #fff;
  transition: width 200ms linear;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-item {
  padding: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  height: 60px;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;
  border-bottom: #369 1px solid;
  color: #555;
}
.nav-item::before {
  display: inline-block;
  line-height: 60px;
  width: 60px;
  text-align: center;
}
.nav-item:hover {
  background: #369;
  color: #fff;
}
.menu-button {
  padding: 0px;
  width: 60px;
  height: 60px;
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}
.menu-button:before {
  text-align: center;
  width: 100%;
  display: block;
  line-height: 60px;
}
.menu-button:focus {
  color: #fff;
  background: #369;
}
.menu-button:hover + .navigation {
  width: 60px;
}
@media only screen and (max-width: 1040px) {
  .menu-button:hover + .navigation {
    width: 12em;
  }
}
.desktop .menu-button:hover + .navigation {
  width: 60px;
}
.menu-button:focus + .navigation,
.menu-button:active + .navigation,
.navigation:hover {
  width: 12em !important;
}
.navigation.hide:hover {
  width: 0;
}
.page {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: none;
}
.page.current {
  transform: none;
  display: block;
}
.page.main-page {
  padding: 0;
}
@-webkit-keyframes fromright {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes fromleft {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes fromright {
  0% {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes fromright {
  0% {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-o-keyframes fromright {
  0% {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes fromright {
  0% {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-moz-keyframes fromleft {
  0% {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes fromleft {
  0% {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-o-keyframes fromleft {
  0% {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes fromleft {
  0% {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.intro {
  text-align: center;
  margin: 2em;
}
.skill-list {
  margin: 0 auto;
  padding: 0;
  display: block;
}
@media screen and (min-width: 280px) {
  .skill-list {
    width: 204px;
  }
}
@media screen and (min-width: 480px) {
  .skill-list {
    width: 408px;
  }
}
@media screen and (min-width: 680px) {
  .skill-list {
    width: 612px;
  }
}
@media screen and (min-width: 880px) {
  .skill-list {
    width: 816px;
  }
}
@media screen and (min-width: 1080px) {
  .skill-list {
    width: 1020px;
  }
}
@media screen and (min-width: 1280px) {
  .skill-list {
    width: 1224px;
  }
}
@media screen and (min-width: 1480px) {
  .skill-list {
    width: 1428px;
  }
}
.box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 2px 0;
  background: #427;
  color: #fff;
  overflow: hidden;
  text-align: center;
  padding: 0px;
  font-size: /8;
  font-family: Quicksand;
  line-height: ;
  vertical-align: middle;
}
.box::before,
.box > i {
  position: absolute;
  width: 100%;
  left: 0;
  content: "";
  vertical-align: middle;
  text-align: center;
  font-family: Quicksand;
  line-height: initial;
  transition: all 0.25s cubic-bezier(0.8, 0, 0.2, 1);
}
.box > i {
  top: 50%;
  transform: translateY(-50%) scale(0);
  opacity: 0;
}
.box::before {
  transform: scale(1);
  opacity: 1;
  height: 100%;
}
.box:hover::before {
  transform: scale(2);
  opacity: 0;
}
.box:hover > i {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
.logo::before {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.logo::after {
  white-space: pre-line;
}
.logo-js::before {
  background-image: url("../icons/js-logo.png");
}
.logo-js {
  background-color: #323330;
  color: #eee;
}
.logo-angular::before {
  background-image: url("../icons/angular.png");
}
.logo-angular {
  background-color: #33f;
  color: #eee;
}
.logo-cpp::before {
  background-image: url("../icons/cpp-icon.png");
}
.logo-cpp {
  background-color: #000;
  color: #eee;
}
.logo-sails::before {
  background-image: url("../icons/sails.png");
}
.logo-sails {
  background-color: #eee;
  color: #111;
}
.logo-docker::before {
  background-image: url("../icons/docker.png");
}
.logo-docker {
  background-color: #70afc1;
  color: #111;
}
.logo-windows::before {
  background-image: url("../icons/windows.png");
}
.logo-windows {
  background-color: #00adf1;
  color: #111;
}
.logo-unity::before {
  background-image: url("../icons/unity_icon.png");
}
.logo-unity {
  background-color: #eee;
  color: #111;
}
.logo-html::before {
  background-image: url("../icons/html5css3.png");
}
.logo-html {
  background-color: #eee;
  color: #111;
}
.logo-dart::before {
  background-image: url("../icons/dart-logo.png");
}
.logo-dart {
  background-color: #eee;
  color: #111;
}
:root {
  margin-top: 60px;
}
body,
html {
  margin: 0;
  font-family: Quicksand;
  overflow-x: hidden;
  height: 100%;
}
.title {
  font-size: 20px;
  text-align: center;
  margin: 3em;
}
.title > span {
  padding: 10px;
  border: #000 2px solid;
}
.indexlink {
  margin: 1em;
  color: #369;
  text-align: center;
  padding: 10px;
  border: #369 2px solid;
  display: block;
  text-decoration: none;
  font-family: "Open sans";
}
.indexlink:hover {
  color: #fff;
  background-color: #369;
}
.swipe-notification {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
}
/*
* PROFILE PAGE START
*/
.profile {
  display: block;
  width: 100%;
}
.profile-canvas {
  display: inline-block;
  max-width: 20%;
  text-align: center;
  margin: 1.5em 5%;
  float: left;
}
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .profile-canvas {
    max-width: 50%;
    width: 50%;
    margin: 1.5em auto;
    float: none;
    display: block;
  }
}
.profile-image {
  border-radius: 50%;
  width: 100%;
}
.profile-text {
  display: inline-block;
  width: 60%;
  margin: 1.5em 5%;
}
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .profile-text {
    width: 100%;
    margin: 0;
    margin-bottom: 3em;
  }
}
/*
* PROFILE PAGE END
*/
/*
* WORKS PAGE START
*/
.work {
  position: relative;
  margin-bottom: 5em;
}
.work-description {
  float: left;
  display: inline-block;
  max-width: 60%;
}
.work-canvas {
  float: left;
  display: inline-block;
  max-width: 30%;
  margin: 0 5%;
}
.work-image {
  border-radius: 3%;
  width: 100%;
}
/*
* WORKS PAGE END
*/
/*
*  CONTACT PAGE START
*/
.contact {
  display: flex;
  min-height: calc(100vh - 100px);
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-flow: wrap;
}
@media (orientation: portrait) {
  .contact {
    flex-flow: column;
  }
}
.qr-contact,
.contact-info {
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  max-width: 45%;
  margin-bottom: 1em;
}
.qr-contact img,
.contact-info img {
  width: 100%;
}
.contact-box {
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  flex-shrink: 0;
}
.contact-box a {
  text-decoration: none;
  color: initial;
}
.contact-info {
  display: inline-block;
  text-align: left;
}
.social-icons {
  text-align: center;
}
.social-icon {
  font-size: 50px;
  margin: 0 20px;
}
/*
*  CONTACT PAGE END
*/
.clearfloat {
  clear: both;
}
body.phone .contact-info,
body.phone .qr-contact {
  min-width: 100%;
  max-width: 100%;
}
@media (orientation: landscape) {
  body.phone .contact-info {
    min-width: 45%;
    max-width: 45%;
  }
  body.phone .qr-contact img {
    width: 30%;
  }
}
body.phone .page.out-of-current {
  display: none;
}
body.phone .swipe-notification {
  left: -20px;
  right: -20px;
  padding-top: 1em;
  text-align: center;
  border-top: #369 1.5px solid;
}
body.phone .work {
  position: relative;
  margin-bottom: 0;
}
body.phone .work:last-of-type {
  margin-bottom: 2em;
}
body.phone .work-description {
  max-width: 100%;
}
body.phone .work-canvas {
  display: none;
}
.swipe-notification {
  display: none;
}
.main-introduction {
  position: relative;
  height: 100%;
  background-image: url("../imgs/background.jpg");
  background-size: cover;
  background-position: center;
}
.main-introduction > h1 {
  position: absolute;
  bottom: 2em;
  right: 2em;
  color: #fff;
}
.main-introduction > h3 {
  position: absolute;
  bottom: 1em;
  right: 2em;
  color: #fff;
}
