@require "variables";

.top-bar
  z-index: 2;
  padding: 0
  margin: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: inherit;
  font-size: 16px;
  height: topBarHeight
  line-height: topBarHeight
  text-transform: uppercase;
  border-bottom: #369 1px solid;
  font-family: Open Sans;  

#dt:target > .top-bar
  border-color: #9ad

.topbar-buttons
  float right 
  @media (max-width: 900px)
    > .topbar-button:before
      content: none;
  @media (max-width: 720px)
    display: none;

.topbar-button
  display: inline-block;
  height: topBarHeight;
  color: inherit;
  text-decoration: none;
  background: none;
  float: left;
  outline none
  padding: 0px 20px;
  &:hover
     color: white;
     background: #336699;
  &:before
    font-size: 20px;
    margin-right: 0.5em; 

.pagelink.active
  color #47a 
  &:hover
   color white

.navigation
  box-sizing border-box
  border-right #369 1px solid
  border-top #369 1px solid
  border-color: inherit
  position fixed
  top topBarHeight
  bottom 0
  padding 0
  margin 0
  width 0
  z-index 3
  background-color inherit
  transition width 200ms linear
  overflow-x hidden
  overflow-y auto

.nav-item
  padding: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  height: topBarHeight
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap
  border-bottom: #369 1px solid;
  border-color: inherit
  color: inherit;
  &::before
    display: inline-block
    line-height: topBarHeight
    width: topBarHeight
    text-align: center
  &:hover
    background: #369;
    color: white;     


.menu-button
  padding: 0px;
  width: topBarHeight
  height: topBarHeight
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  &:before
    text-align: center;
    width: 100%;
    display: block;
    line-height: 60px;
  &:focus
    color white
    background #336699
  &:hover + .navigation
    width: topBarHeight
    @media mqTablet
      width: navFullWidth;

.desktop .menu-button:hover + .navigation
  width: topBarHeight

.menu-button:focus + .navigation,
.menu-button:active + .navigation,
.navigation:hover{
  width: navFullWidth !important
}

.navigation.hide:hover{
  width: 0;
}