html {
  --top-bar-margin: 0px;

}

.top-bar {
  display: none;
}

.menu-button {
  background-color: white;
  border-right: #369 1px solid;
  border-bottom: #369 1px solid;
  box-sizing: content-box;
}

.navigation {
  box-sizing: content-box;
  border-top: #369 1px solid;
  border-right: #369 1px solid;
}

.navigation, .page {
  --sidebar-width: 60px
}

.page {
  padding-top: 0;
  padding-left: 60px;
  --default-clip-path: polygon(60px 0, 100% 0,100% 100%, var(--sidebar-width) 100%, var(--sidebar-width) 60px, 60px 60px);
  background: var(--dot-bg), var(--radial-bg);

}

.page::after {
  display: none;
}

