.topbar-buttons, .page::after {
    display: none;
}

.page:not(.page--main){
    clip-path: polygon(60px 60px, 100% 60px,100% 100%, var(--sidebar-width) 100%, var(--sidebar-width) 60px, 60px 60px);
}

body {
    --top-button-width: 0
}
    