boxsize       = 200px
boxmargin     = 2px
contentmargin = 20px
titlesize     = 20px
topBarHeight  = 60px
navFullWidth  = 12em
icons         = "../icons/"


smartphoneWidth = 720px
tabletWidth     = 1040px

mqPortrait            = "(orientation: portrait)"
mqSmartphone          = "only screen and (max-width: " + smartphoneWidth + ")"
mqSmartphone_portrait = mqSmartphone + " and " + mqPortrait
mqTablet              = "only screen and (max-width: " + tabletWidth     + ")"
