<!DOCTYPE html>
<html>
  <head>
      <title>Omar Castro</title>
      <meta name="author" content="Omar Castro">
      <meta name="keywords" content="web,omar,engineer">
      <meta name="description" content="About Omar Castro, a computer engineer">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body id="dark-theme">
    <div class="main content" touch-action="pan-y">

     {{ content }}

    </div>
    <div class="top-bar">
      <button class="topbar-button menu-button icon-menu"></button>
      <div class="navigation">
        <a class="nav-item pagelink icon-user" href="about">About</a>
        <!--a class="nav-item pagelink icon-signup" href="skills">Skills</a-->
        <a class="nav-item pagelink icon-library" href="works">Works</a>
        <a class="nav-item pagelink icon-address-book" href="contact">Contact</a>
        <a class="nav-item nav-cv icon-profile" href="cv.pdf" target="_blank">CV</a>
      </div>

      <a class="topbar-button home-button pagelink{% if page.link == 'index' %} active{% endif %}" data-pageindex="0" href=".">Omar Castro</a>

      <div class="topbar-buttons">
        <a class="topbar-button pagelink icon-user{% if page.link == 'about' %} active{% endif %}" href="about" data-pageindex="1">About</a>
        <!--a class="topbar-button pagelink icon-signup{% if page.link == 'skills' %} active{% endif %}" href="skills" data-pageindex="2">Skills</a-->
        <a class="topbar-button pagelink icon-library{% if page.link == 'works' %} active{% endif %}" href="works" data-pageindex="2">Works</a>
        <a class="topbar-button pagelink icon-address-book{% if page.link == 'contact' %} active{% endif %}" href="contact" data-pageindex="3">Contact</a>
      </div> 

    </div>
    <script src="js/main.js"></script>
  </body>
</html>