<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <script src="js/isMobile.js"></script>
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>
  <body>
    <div class="main content" touch-action="pan-y">

     {{ content }}

    </div>
    <div class="top-bar">
      <button class="topbar-button menu-button icon-menu"></button>
      <div class="navigation">
        <ul>
        <li class="nav-item menu-icon"><a class="icon-user" href="about">About</a></li>
        <li class="nav-item menu-icon"><a class="icon-signup" href="skills">Skills</a></li>
        <li class="nav-item menu-icon"><a class="icon-library" href="works">Works</a></li>
        <li class="nav-item menu-icon"><a class="icon-address-book" href="contact">Contact</a></li>
        </ul>
      </div>
      <a class="topbar-button home-button pagelink-main" href=".">Omar Castro</a>

      <div class="topbar-buttons">
        <a class="topbar-button button pagelink-about icon-user" href="about">About</a>
        <a class="topbar-button button pagelink-skills icon-signup" href="skills">Skills</a>
        <a class="topbar-button button pagelink-works icon-library" href="works">Works</a>
        <a class="topbar-button button pagelink-contact icon-address-book" href="contact">Contact</a>
      </div> 
      </div>

    <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>